.body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}

$color_primary: #c00005;
$color-primary-light: #f24b51;
$color-secondary: #940000;
$color-tertiary-light:  #555;
$color-tertiary-dark:  #999;

a {
  font-style: initial !important;
}



