//   In this file I will override the values and parameters inherited from the template I'm
// following to build the sidebar.

body {
  display: block;
  margin: 0px;
}

.container {
  overflow-x: hidden;
  padding-right: unset !important ;
  padding-left: unset !important ;
  margin-right: unset !important ;
  margin-left: unset !important ;
  margin-top: unset !important ;
  height: 100%;

  #main {
    width: 100vw;
  }

  .row {
    display: grid;
    grid-template-columns: 300px auto;
    margin-right: 0px;
    margin-left: 0px;
  }

  .anchorjs-link {
    display: none !important;
  }

  .no-arrow {
    span {
      display: none;
    }
  }

  .search > * {
    margin: 0%;
    min-width: 60vw !important;
    max-width: 60vw !important;
  }

  .logo-container {
    align-self: center;
    display: grid;

    grid-row-start: 1;
    &:hover {
      .logo {
        transform: translateX(0rem) scale(1);
      }
    }

    a {
      color: unset !important;
      text-decoration: none !important;
      display: grid;
      width: 270px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      .logo {
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
      }

      .logo-sidebar {
        width: 260px;
        grid-column-start: 2;
      }
    }

    h6 {
      grid-row-start: 2;
      text-align: center;
      font-weight: 600;
      margin-top: 0px;
      padding-left: 15px;
    }
  }

  form {
    align-self: end;
    grid-row-start: 2;
    transform: scale(1) rotate(0deg);
    margin: 5rem auto 2rem auto;
    margin-top: 0px;
    padding: 0px;

    #search-input {
      padding: 0px !important;
      padding-left: 5px !important;
      padding-right: 0px !important;
      max-width: 100% !important;
      min-width: 270px !important;
      height: 40px !important;
      min-height: 40px !important;
      max-height: 40px !important;
      background: rgb(248, 225, 225);
      color: #000;
      font-size: 18px;
      border-radius: 4px;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: transparent;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
  }
}

#togglemenu {
  visibility: hidden;
}

#tg-sb-sidebar {
  grid-column-start: 1;
  grid-template-rows: 40px auto auto auto auto;
  color: #fff;
  display: flex;
  flex-flow: column;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: unset;
  padding-left: unset;
  padding-top: 15px;
  min-height: 100vh;
  max-width: 300px;
  min-width: 300px;
  background: #ac0004;
  background-size: 400% 100%;
  background-position: 0% 100%;

  #sidebar-container {
    max-width: 270px !important;
    min-width: 270px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    #mysidebar {
      margin-top: 0%;
      grid-row-start: 3;
      position: relative !important;

      .sidebarTitle {
        border: unset;
        margin-top: 20px;
        font-weight: 900;
        font-size: 2.8rem;
        letter-spacing: 0.4rem;
        color: white;
        margin-bottom: 10px;
        margin-left: 5px;
        text-align: center;
      }

      li {
        padding-bottom: 13px;

        a {
          font-weight: 300;
          padding-top: 2px;
        }

        ul {
          margin-top: -12px;
          padding-left: 0px;

          li {
            padding-bottom: 0px;
          }
        }
      }

      .subfolders {
        ul {
          margin-left: 20px;
        }
      }
      li:nth-child(1) {
        transform: translateX(0rem);
        opacity: 1;
      }

      li:nth-child(2) {
        transform: translateX(0rem);
        opacity: 1;
      }

      li:nth-child(3) {
        transform: translateX(0rem);
        opacity: 1;
      }

      li:nth-child(4) {
        transform: translateX(0rem);
        opacity: 1;
      }

      li:nth-child(5) {
        transform: translateX(0rem);
        opacity: 1;
      }

      li:nth-child(6) {
        transform: translateX(0rem);
        opacity: 1;
      }
    }

    #shortcuts {
      align-self: end;
      display: block;
      height: 110px;
      grid-row-start: 4;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      position: relative;
      max-width: 270px !important;
      min-width: 270px !important;

      .icon-arrow-up {
        display: none !important;
      }

      .shortcuts_links {
        font-size: 16px !important;
        font-weight: 700 !important;
        color: white !important;
        margin: 0 !important;
        padding: 2px 10px !important;

        .anchorjs-link {
          display: none;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 20px;

        li {
          height: 3rem;
        }

        li a {
          font-weight: 400;
          font-size: 16px;
          color: white;
          line-height: 3rem;
          padding: 2px 10px;
          background-color: unset !important;
        }

        .shortcuts-link {
          transform: scale(1);
          transform-origin: center;

          &:hover {
            text-decoration: none;
            transform: scale(1.9) !important;
            transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
        }
      }
    }
  }

  #footer {
    display: contents;
    width: 100%;
    grid-row-start: 5;
    position: relative;

    div {
      position: absolute;
      bottom: 5px;
      width: 100%;
      display: flex;

      p {
        color: white;
        width: fit-content;
        margin: auto;
        font-size: 16px;
        font-weight: 700;
        transform: scale(1) rotate(0deg);

        a {
          color: #fd9393;
        }
      }
    }
  }
}

#tg-sb-content {
  grid-column-start: 2;
  padding: 6rem 12rem;
  font-family: "Mukta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: initial !important;
  line-height: 1.5;
  color: #333;
  .search {
    form {
      display: none !important;
    }

    h2 {
      font-size: 24px;
    }
  }

  .post-header {
    margin-bottom: 3.2rem;
  }

  .post-title-main {
    font-size: 2.54em;
    font-weight: 800;
    letter-spacing: 0.08rem;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    h1 {
      font-size: 54px;
      letter-spacing: 5px;
    }
  }

  //.post-header {
  //  min-width: 800px;
  //  max-width: 1000px;
  //}

  table {
    min-width: 800px;
    max-width: 100% !important;
    width: 100% !important;
    overflow-x: inherit;
  }

  .post-content > * {
    min-width: 85%;
    max-width: 85%;

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 28px;
    }

    .emoji {
      max-width: 22px !important;
      max-height: 22px !important;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    table {
      min-width: 800px;
      max-width: 100%;
      width: 100%;
      overflow-x: inherit;
    }
  }

  .post-content {
    p {
      margin-top: 1.6rem;
      margin-bottom: 1.6rem;
    }

    h1 {
      font-size: 30px !important;
      line-height: 1.8;
      font-weight: 700;
    }

    h2 {
      font-size: 28px !important;
      line-height: 1.6;
    }
  }

  #breadcrumbs {
    font-size: 16px;
    margin-bottom: 18px;
    color: #a0a0a0;
  }
}

.nav > li {
  border-bottom: 0.0001px solid #ffffff3b;
}

.nav ul li {
  a {
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.08rem;
    background-color: unset !important;
    border-top: none;
    padding-left: 3rem !important;
    font-size: 16px !important;
    opacity: 0.8;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.nav li a {
  font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 5rem;
  padding: 2px 10px;
  padding-top: 1rem;
  background-color: unset !important;
}

//      Ipad Styles Starts Here
@media (max-width: 1200px) and (min-width: 768px) {
  .container .logo-container a {
    display: grid;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .hideSidebar {
    transform: translateX(100vw) !important  ;
    z-index: 1;
  }

  .visible {
    visibility: hidden !important;
  }
}

//      Mobile Styles Starts Here
@media (max-width: 1200px) and (min-width: 300px) {

  #footer {
    p {
      margin-bottom: 15px;
    }
  }


  .hideSidebar {
    transform: translateX(100vw) !important  ;
    z-index: 1;
  }

  #togglemenu {
    width: 30px;
    height: 45px;
    position: absolute;
    right: 2%;
    top: 3%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    visibility: visible;
    cursor: pointer;
    z-index: 3;
  }

  .visible {
    visibility: hidden !important;
  }
  .container .row {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 0px;
    margin-left: 0px;

    #tg-sb-sidebar {
      min-width: 100vw;
      grid-column-start: 1;
      transform: translateX(0vw);
      padding-top: 5%;
      z-index: 4;
      position: fixed;

      #sidebar-container {
        max-height: calc(100vh - 230px);
        position: relative;
        #mysidebar {
          li {
            padding-top: 6px;

            ul {
              margin-top: -5px;
            }
          }
        }

        .nav li a {
          font-size: 16px;
          font-weight: 700;
          color: white;
          line-height: 30px;
          padding: 1px 9px;
          padding-top: 1px;
          background-color: unset !important;
        }

        #shortcuts {
          height: 125px !important;

          .shortcuts_links {
            font-size: 14px !important;
            font-weight: 700 !important;
            color: white !important;
            margin: 0 !important;
            padding: 1px 10px !important;
          }

          ul {
            li {
              a {
                font-weight: 400 !important;
                font-size: 14px !important;
                color: white !important;
                line-height: 30px !important;
                padding: 2px 10px !important;
                padding-top: 5px !important;
                background-color: unset !important;

                &:hover {
                  text-decoration: none;
                  transform: scale(1.1);
                  transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
              }
            }
          }
        }

        #footer p {
          font-size: 12px;
        }
      }
    }

    #tg-sb-content {
      grid-column-start: 2;
      margin-left: 0;
      padding: 5%;
      font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-style: initial !important;
      line-height: 1.42857143;
      color: #333;

      h1 {
        font-size: 24px !important;
      }

      .post-header {
        > * {
          min-width: 80vw !important;
          max-width: 80vw !important;
        }
        .post-title-main {
          margin-top: 0px !important;
          margin-bottom: 10px !important;
          font-size: 32px !important;
          text-align: center;
        }
      }
      .post-content > * {
        min-width: 80vw !important;
        max-width: 80vw !important;
      }

      .post-content {
        td:nth-of-type(1):before {
          content: "NDC Airlines";
        }
        td:nth-of-type(2):before {
          content: "Shopping & Booking";
        }
        td:nth-of-type(3):before {
          content: "On-Hold & Issuing";
        }
        td:nth-of-type(4):before {
          content: "Cancel & Refund";
        }
        td:nth-of-type(5):before {
          content: "Pre-Sale Services";
        }
        td:nth-of-type(6):before {
          content: "Post-Sale Services";
        }
        td:nth-of-type(7):before {
          content: "Changes";
        }
        td:nth-of-type(8):before {
          content: "FQTV Card";
        }
        td:nth-of-type(9):before {
          content: "Fare Types";
        }
        td:nth-of-type(10):before {
          content: "FoP";
        }
        table:nth-child(1) {
          /*
	Label the data
	*/
        }
        table:nth-child(2) {
        }
      }

      #breadcrumbs {
        background: linear-gradient(#9e9e9e17, #0d0d0d08);
        /* padding: 9px; */
        margin-top: 5%;
        margin-bottom: 2%;
        border-radius: 2px;
      }

      /* Force table to not be like tables anymore */
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      table {
        text-align: center;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: relative;
        top: -9999px;
        left: -9999px;
      }

      tr {
        border: 1px solid #ccc;
      }

      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
    }
  }
}
//      Mobile Styles Ends Here

/* Icon 1 */

#togglemenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#togglemenu span span:nth-child(1) {
  top: -10px;
  background-color: black !important;
}

#togglemenu span span:nth-child(2) {
  top: 0px;
  background-color: black !important;
}

#togglemenu span span:nth-child(3) {
  top: 10px;
  background-color: black !important;
}

#togglemenu.open span span:nth-child(1) {
  top: 4px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: black !important;
  display: none;
}

#togglemenu.open span span:nth-child(2) {
  opacity: 0;
  left: -60px;
  background-color: black !important;
  display: none;
}

#togglemenu.open span span:nth-child(3) {
  top: 4px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: black !important;
  display: none;
}
