<!DOCTYPE html>
<html>
  <head>
    {% include head.html %} {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"
    ></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function () {
        $("div.datatable-begin")
          .nextUntil("div.datatable-end", "table")
          .addClass("display");
        $("table.display").DataTable({
          paging: true,
          stateSave: true,
          searching: true,
        });
      });
    </script>

    {% endif %}
  </head>
  <body>
    <!-- Page Content -->
    <div class="container">
      <div id="main">
        <!-- Content Row  -->

        <div class="row">
          <!-- Sidebar Column -->
          <div class="col-md-3 hideSidebar" id="tg-sb-sidebar">
            <div class="logo-container">
              <a href="/">
                <!--<div class="logo-sidebar" id="test"></div>-->
                <h1 class="logo">AirGateway</h1>
              </a>
            </div>


    <form class="site-search " action="{{ site.baseurl }}/search/" method="get">
      <input type="text" name="q" id="search-input" placeholder="Search" autofocus class="site-search__input">
      <span class=""></span>
      <!-- <input class="prev" type="submit" value="Search!" class="site-search__button"> --->
    
    </form>
    
    <script>
      var searchBox = document.querySelectorAll('.site-search input[type="text"] + span');

        searchBox.forEach((elm) => {
          elm.addEventListener('click', () => {
            elm.previousElementSibling.value = '';
          });
        });
    </script>

        <div id="sidebar-container">
          {% include sidebar.html %}

          <div id="shortcuts">
            <h3 class="shortcuts_links">Links</h3>
            <ul>
              <li>
                <a class="padding shortcuts-link" href="https://agency.airgateway.net"
                  ><i class="fa fa-keyboard-o"></i> Agency Portal</a
                >
              </li>

              <li>
                <a class="padding shortcuts-link" href="https://docs.airgateway.net/"
                  ><i class="fa fa-bookmark"></i> Postman Samples</a
                >
              </li>

              <li>
                <a class="padding shortcuts-link" href="https://gitter.im/AirGateway/Lobby"
                  ><i class="fa fa-comments-o"></i> Gitter Support Chat</a
                >
              </li>
            </ul>
          </div>

        </div>

        <div id="footer">
          <div>
          </div>
        </div>


    </div>

          <!-- Content Column 
    
          -->
          <div class="{{content_col_size}}" id="tg-sb-content">
            <a
              id="togglemenu"
              class=""
              onclick="document.getElementById('tg-sb-sidebar').classList.toggle('hideSidebar');
              document.getElementById('togglemenu').classList.toggle('visible');"
            >
              <span><span></span><span></span><span></span></span
            ></a>

            {{content}}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /#main -->
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77281199-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-77281199-4');
    </script>

  </body>
</html>
