<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script></script>
    <script>
      $(document).ready(function () {
        // Initialize navgoco with default options
        $("#mysidebar").navgoco({
          caretHtml: "",
          accordion: true,
          openClass: "active", // open
          save: false, // leave false or nav highlighting doesn't work right
          cookie: {
            name: "navgoco",
            expires: false,
            path: "/",
          },
          slide: {
            duration: 400,
            easing: "swing",
          },
        });

        $("#collapseAll").click(function (e) {
          e.preventDefault();
          $("#mysidebar").navgoco("toggle", false);
        });

        $("#expandAll").click(function (e) {
          e.preventDefault();
          $("#mysidebar").navgoco("toggle", true);
        });
      });
    </script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#tg-sb-link").click(function () {
          $("#tg-sb-sidebar").toggle();
          $("#tg-sb-content").toggleClass("col-md-9");
          $("#tg-sb-content").toggleClass("col-md-12");
          $("#tg-sb-icon").toggleClass("fa-toggle-on");
          $("#tg-sb-icon").toggleClass("fa-toggle-off");
        });
      });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"
    ></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function () {
        $("div.datatable-begin")
          .nextUntil("div.datatable-end", "table")
          .addClass("display");
        $("table.display").DataTable({
          paging: true,
          stateSave: true,
          searching: true,
        });
      });
    </script>

  {% endif %}
  </head>
  <body>
    <!-- Page Content -->
    <div class="container">
      <div id="main">
        <!-- Content Row -->
        <!--
<a id="togglemenu" onclick="document.body.classList.toggle('menuopen');">Menu<span><span></span><span></span><span></span></span></a>-->
        <a
          id="togglemenu"
          class="lines"
          onclick="document.getElementById('tg-sb-sidebar').classList.toggle('hideSidebar');
          document.getElementById('togglemenu').classList.toggle('open');"
          >
          <span><span></span><span></span><span></span></span
        ></a>

        <div class="row">
          <!-- Sidebar Column -->
          <div class="col-md-3 hideSidebar" id="tg-sb-sidebar">
            <div class="logo-container">
              <a href="/" >
                <!--<div class="logo-sidebar" id="test"></div>-->
                <h1 class="logo"> AirGateway </h1>
              </a>
            </div>

            <form action="{{ site.baseurl }}/search/" method="get">
              <input
                type="text"
                name="q"
                id="search-input"
                placeholder="Search"
                autofocus
              />

              <input type="submit" value="Search" style="display: none" />
            </form>

            <!--  <img class="logo-sidebar" src="{{ site.baseurl }}/images/AirGateway-10.png"  > -->

            {% include sidebar.html %}

            <div id="shortcuts">
              <h3 class="shortcuts_links">Links</h3>
              <ul>
                <li>
                  <a class="padding" href="https://agency.airgateway.net"
                    ><i class="fa fa-keyboard-o"></i> Agency Portal</a
                  >
                </li>

                <li>
                  <a class="padding" href="https://docs.airgateway.net/"
                    ><i class="fa fa-bookmark"></i> Postman Samples</a
                  >
                </li>

                <li>
                  <a class="padding" href="https://gitter.im/AirGateway/Lobby"
                    ><i class="fa fa-comments-o"></i> Gitter Support Chat</a
                  >
                </li>
              </ul>
            </div>

            <div id="footer">
              <p>Made with <a href="https://jekyllrb.com//">Jekyll.</a></p>
            </div>
          </div>

          <!-- Content Column -->
          <div class="{{content_col_size}}" id="tg-sb-content">{{content}}</div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /#main -->
    </div>
  </body>
</html>
